.email-verification{
    margin-top: 120px;
    margin-bottom: 120px;
    h3{
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        margin-top: 1.4rem;
    }
    p{
        color: #333333;
        font-size: 13px;
        margin-bottom: 10px;
        a{
            font-weight: 600;
            text-decoration: none;
            color: #19216C;
        }
        span{
            font-weight: 500;
        }
    }
    a{
        font-size: 13px;
        color: #19216C;
    }
}