.affilations{
    text-align: center;
    padding-top: 40px;
    // padding-bottom: 60px;
    h4{
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 22px;
    }
    .aff-images{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        img{
            margin-bottom: 50px;
        }
    }
    a{
        font-size: 14px;
        color: #484848;
        font-weight: 500;
    }
}