.faq{
    text-align: left;
    margin-top: 120px;
    margin-bottom: 120px;
    .container{
        h3{
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 30px;
            color: #333333;
        }
        .questions{
            .item{
                border-bottom: 1px solid rgba($color: grey, $alpha: 0.1);
                padding-bottom: 10px;
                padding-top: 20px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .text{
                    h5{
                        font-size: 18px;
                        font-weight: 600;
                        color: #333333;
                    }
                    p{
                        font-size: 16px;
                        margin-left: 30px;
                        font-weight: 400;
                        color: #484848;
                    }
                }
                img{
                    width: 20px;
                }
            }
        }
    }
}