.main-wrapper{
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (max-width : 576px) {
        margin-top: 0;
        padding-top: 30px;
    }
    .content{
        h3{ 
            font-size: 32px;
            font-weight: 600;
            width: 450px;
            @media screen and (max-width : 992px) {
                width: 100%;
                font-size: 1.8rem;
            }
        }
        p{
            width: 450px;
            font-weight: 400px;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 40px;
            line-height: 1.8;
            @media screen and (max-width : 992px){
                width: 100%;
            }
            @media screen and (max-width : 590px){
                text-align: justify;
            }
        }
        h4{
            @media screen and (max-width : 590px){
                text-align: left;
            }
        }
        li{
            @media screen and (max-width : 590px){
                text-align: left;
            }
        }
        button{
            border: none;
            padding: 10px;
            color: white;
            font-size: 14px;
        }
    }
    .advertiser{
        text-align: left;    
    }
    .publisher{
        text-align: left;
        margin-bottom: 120px;
        @media only screen and (max-width: 560px){
            margin-bottom: 40px;
        }
    }
    .row{
        display: flex;
        align-items: center;
        @media screen and (max-width : 992px) {
            display: block!important;
            text-align: center;
        }
        img{
            width: 300px;
        
        }
        .first{
            // text-align: center;
            img{
                margin: auto;
                transform: rotate(-30deg);
                @media screen and (max-width : 990px) {
                    width: 80%;
                    margin: 30px auto;    
                    transform: rotate(0deg);
                }
            }
        }
        
        .text-right{
            text-align: right;
            @media screen and (max-width : 990px) {
                text-align: center;
            }
            img{
                width: 80%;            
            }
        }
    }
}