.publisher-form{
    background: #e5e5e5;
    text-align: left;
    padding-top: 80px!important;
    padding-bottom: 4rem;
    position: relative;
    .overlay{
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        z-index: 10000;
        top:0;
        height:100%;
        width: 100%;
        overflow-y: hidden;
        .spinner{
            position: absolute;
            top: 50%;
            left: 45%;
        }
    }
    .row{
        @media only screen and (max-width : 768px){
            display: block!important;
        }
        .col-md-8{
            margin-top: 30px;
            padding: 0px;
            background: #FEFEFE;
            border: 1px solid #D6D6D6;
            box-sizing: border-box;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            @media only screen and (max-width : 480px){
                margin: 20px 15px;
                width: fit-content;
            }
            .heading{
                padding: 15px 20px;
                border-bottom: 1px solid #e5e5e5;
                h4{
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }
            form{
                padding: 20px;
                margin-bottom: 4rem;
                h5{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
    
                label{
                    font-size: 14px;
                    color: #484848;
                }
                input{
                    width: 90%;
                    font-size: 12px;
                    padding: 10px;
                    border: 1px solid #c4c4c4;
                    margin-bottom: 15px;
                    @media only screen and (max-width : 768px){
                        width : 100%
                    }
                }
                textarea{
                    width: 90%;
                    font-size: 12px;
                    padding: 10px;
                    border: 1px solid #c4c4c4;
                    margin-bottom: 15px;
                    @media only screen and (max-width : 768px){
                        width : 100%
                    }
                }
                select{
                    width: 90%;
                    font-size: 12px;
                    padding: 10px;
                    border: 1px solid #c4c4c4;
                    margin-bottom: 15px;
                    @media only screen and (max-width : 768px){
                        width : 100%
                    }
                }
                .duration{
                    .duration-frame{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media only screen and (max-width : 480px){
                            display: block;
                        }
                        .form-group{
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            input{
                                width: initial;
                                margin-bottom: 0;
                                margin-right: 10px;
                            }
                            span{
                                font-size: 13px;
                                color: #484848;
                            }
                        }
                    }
                }
                .agree-policy{
                    margin-top: 20px;
                    .row{
                        .col-lg-6{
                            display: flex;
                            align-items: center;
                        }
                        input{
                            width: initial;
                            margin-right: 10px;
                        }
                        p{
                            font-size: 11px;
                            color: #33333382;
                            line-height: 1.4;
                        }
                    }
                }
                button{
                    padding: 7px 14px;
                    font-size: 12px;
                    margin-top: 1.5rem;
                }
            }
        }
        
    }
    
}