.create-ads{
    .call-card{
        .btn{
            display: block;
            button{
                margin-bottom: 1.5rem;
            }
            a{
                text-decoration: none;
                margin-top: 1.5rem;
                font-size: 14px;
            }
        }
    }
    
}