.hero{
    text-align: center;
    height: 100%;
    background: #33C0CE;
    color: #f1f1f1;
    .container{
        @media screen and (max-width : 576px) {
            max-width: 560px;
        }
        .hero-text{
            padding-top: 100px;
            padding-bottom: 100px;
            width: 80%;
            margin: auto;
            @media screen and (max-width : 992px) {
                width: 100%;
            }
            @media screen and (max-width : 480px) {
                padding-top: 60px;
            }
            h1{
                font-weight: 700;
                font-size: 34px;
                @media screen and (max-width : 576px) {
                    font-size: 26px;
                }
            }
            p{
                width: 500px;
                line-height: 1.5;
                margin: 20px auto;
                font-size: 16px;
                font-weight: 500;
                @media screen and (max-width : 576px) {
                    width: 80%;
                }
                @media screen and (max-width : 480px) {
                    width: 100%;
                    font-size: 15px;
                }
            }
            .btns{
                @media screen and (max-width : 480px){
                    margin-top: 3rem;
                }
                button{
                    padding: 10px;
                    font-size: 14px;
                    margin-top: 10px;
                    &:first-child{
                        border: 1px solid rgba($color: #adadad, $alpha: 1.0);
                        background: transparent;
                        color: #808080;
                        margin-right: 10px;
                    }
                    &:last-child{
                        border: none;
                        color: white;
                        border: 1px solid #EE315D;
                        padding: 10px 20px;
                        background: #EE315D;
                    }
                    @media screen and (max-width : 480px) {
                        width: 80%;
                        &:first-child{
                            margin-right: 0;
                        }
                    }
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}