 $image : url('../../../assets/Arrow_01.svg');
 $highlight : url('../../../assets/Highlight_05.svg');

.about-hero{
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    height: 100%;
    @media screen and (max-width : 920px){
        padding-top: 20%;
        padding-bottom: 15%;
    }
    .content{
        h1{
            width: 80%;
            margin: 20px auto;
            font-weight: 700;
            font-size: 56px;
            span{
                color : #EE315D;
            }
            @media screen and (max-width : 920px){
                font-size: 2.5rem;
                margin-top: 4rem;
            }
            @media screen and (max-width : 768px){
                width: 100%;
                padding-left: 4%;
                padding-right: 4%;
            }
            @media screen and (max-width : 480px){
                font-size: 1.6rem;
                margin-top: 0rem;
            }
            .forward{
                color: #333333;
                position: relative;
                &::after{
                    content: $image;
                    position: absolute;
                    top: -10px;
                    right: -50px;
                    width : 100px;
                    animation: move 1s infinite alternate;
                    @keyframes move {
                        from {
                            transform: translateX(0px);
                        }
                        to {
                            transform: translateX(20px);
                        }
                    }
                    @media screen and (max-width : 680px){
                        display: none;
                    }
                }
                
            }
            .highlight{
                color: #333333;
                position: relative;
                @media only screen and (max-width: 490px){
                    margin-left: 10px;
                }
                &::after{
                    content : $highlight;
                    position: absolute;
                    top: -20px;
                    left: -5px;
                    @media screen and (max-width : 480px){
                        left: -10px;
                        top: -10px;
                        width: 20px;
                        height: 20px;
                    }       
                }
            }

        }
        .images{
            .image1{
                position: absolute;
                bottom: -50px;
                left: 0;
                width : 150px;
                z-index: -1;
                @media screen and (max-width : 480px){
                    display: none;
                }
            }
            .image2{
                width: 80px;
                margin-top: 30px;
            }
            .image3{
                position: absolute;
                right: 0px;
                top : -50px;
                width: 300px;
                z-index : -1;
                @media screen and (max-width : 768px){
                    width: 200px;
                }
                @media screen and (max-width : 480px){
                    width: 150px;
                }
            }
        }
    }
}