.affilations{
    text-align: center;
    // padding-top: 80px; 
    padding-bottom: 150px; 
    h5{
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 15px;
        // text-transform: uppercase;
        position: relative;
        width: 110px;
        margin-left: auto;
        margin-right: auto;
        &::before{
            content : "";
            position: absolute;
            height: 2px;
            width: 110px;
            background: #FFBA69;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
    h3{
        font-weight: 600;
        font-size: 2.1rem;
        line-height: 1.4;
        @media screen and (max-width: 768px){
            font-size: 1.6rem;                        
        };        
        @media screen and (max-width: 768px){
            font-size: 1.3rem;                        
        };        
    }
    p{
        width: 500px;
        margin : 20px auto;
        font-size: 13px;
        color: #484848;
        line-height: 1.5;
        @media screen and (max-width: 768px){
            width: 70%;                       
        };
        @media screen and (max-width: 480px){
            width: 100%;                       
        };
    }
    a{
        font-size: 14px;
        color: #484848;
        font-weight: 500;
    }
    .img{
        @media screen and (max-width: 480px){
            display: block!important;
            img{
                margin-bottom: 30px
            }                      
        };
    }
}