.user-detail{
    .content{
        margin-bottom: 1.5rem;
        .row{
            @media only screen and (max-width: 768px){
                display: flex!important;
            }
        }
        h5{
            font-size: 16px;
        }
        p{
            font-size: 15px;
        }
    }
    button{
        border-radius: 5px;
        padding: 8px 10px;
        font-size: 13px;
        a{
            text-decoration: none;
            color: white;
        }
    }
    .text-right{
        text-align: right;
        @media only screen and (max-width: 768px){
            text-align: left;
            margin-top: 2rem;
        }
    }
    .row{
        @media only screen and (max-width: 768px){
            display: block!important;
        }
    }
}