.steps{
    text-align: left;
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width : 1250px){
        width: 90%;
    }
    @media screen and (max-width : 992px){
        width: 100%;
    }
    @media screen and(max-width: 768px){
        margin-top: 0px;
    }
    .container{
        text-align: center;
        h1{
            font-weight: 700;
            font-size: 36px;
        }
        p{
            color: #333333;
            font-size: 14px;
        }
        .headings{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 2rem;
            position: relative;
            h5{
                font-size: 16px;
                margin-right: 50px;
                padding: 7px 15px;
                cursor: pointer;
                @media screen and(max-width: 768px){
                    margin-right: 20px;
                }
            }
        }
        .indicator{
            position: absolute;
            height: 40px;
            width: 120px;
            border: 1px solid grey;
            top: -5px;
            left: 33%;
            transition: all .3s;
        }
        .step-list{
            width: 100%;
            min-height: 1200px;
            margin-top: 50px;
            margin-bottom: 50px;
            position: relative;
            text-align: left;
            .step_1{
                position:  absolute;
                left: 0;
                top: 10px;
                @media screen and (max-width : 992px){
                    position: unset;
                    margin-bottom: 4rem;
                }
            }
            .step_2{
                position: absolute;
                right: 0;
                top: 220px;
                @media screen and (max-width : 992px){
                    position: unset;
                }
            }
            .step_3{
                position: absolute;
                left: 0;
                bottom: 300px;
                @media screen and (max-width:1200px){
                    bottom: 200px;
                }
                @media screen and (max-width : 992px){
                    position: unset;
                    margin-bottom: 5rem;
                }
            }
            .step_4{
                position: absolute;
                right: 0;
                bottom: 50px;
                @media screen and (max-width:1200px){
                    bottom: 0;
                }
                @media screen and (max-width : 992px){
                    position: unset;
                }
            }
            .step_5{
                position: absolute;
                left: 0;
                bottom: 0px;
                @media screen and (max-width : 992px){
                    position: unset;
                }
            }
            .wrapper{
                display: flex;
                align-items: center;
                @media screen and (max-width : 992px){
                    display: block;
                    text-align: center;
                }
                img{
                    width: 200px;
                    margin-right: 30px;
                    @media screen and (max-width : 992px){
                        width: 350px;
                        height: 300px;
                    }
                    @media screen and (max-width : 480px){
                        width: 80%;
                        margin-right: 0;
                        height: 200px;
                    }
                }
                .login{
                    @media screen and (max-width : 480px){
                        width: 80%;
                        height: 200px;
                    }
                }
                .count{
                    width: 200px;
                    @media screen and (max-width : 992px){
                        width: 70%;
                        margin: 20px auto;
                    }
                    p{
                        margin-bottom: 5px;
                        margin-top: 10px;
                        font-size: 13px;
                        color: #333333;
                    }
                    h5{
                        margin-bottom: 0px;
                    }
                }
                .line1{
                    position: absolute;
                    left: 130%;
                    width: 60%;
                    top: 45%;
                    @media screen and (max-width:1200px){
                        width: 200px;
                    }
                    @media screen and (max-width : 992px){
                        display: none;
                    }
                }
                p{
                    margin-top: 20px;
                    font-weight: 500;
                }
            }
            .line2{
                margin-left: 50px;
                margin-top: 30px;
                @media screen and (max-width:1200px){
                    width: 180px;
                    position: absolute;
                    right: 150px;
                    margin-top: 40px;
                }
                @media screen and (max-width : 992px){
                    display: none;
                }
            }
            .line3{
                margin-top: 40px;
                margin-left: 50%;
                bottom: 0px;
                left: 180px;
                @media screen and (max-width:1200px){
                    width: 200px;
                }
                @media screen and (max-width : 992px){
                    display: none;
                }
            }
            .line4{
                margin-left: 40px;
                margin-top: 30px;
                @media screen and (max-width:1200px){
                    width: 200px;
                    margin-left: 100px;
                }
                @media screen and (max-width : 992px){
                    display: none;
                }
            }
        }
        .publisher{
            .step_3{
                bottom : 300px;
                .wrapper{
                    img{
                        height: 200px;
                    }
                }
            }
            .step_5{
                .wrapper{
                    img{
                        height: 200px;
                    }
                }
            }
            img{
                height: 160px;
            }
            .login{
                height: 180px;
            }
            .line3{
                width: 60%;
            }
        }
        button{
            padding: 12px;
            width: 200px;
            border-radius: 4px;
            display: inline-block;
            margin: auto;
            justify-content: center;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}