.analytics{
    margin-bottom: 120px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background: #F6FEFD;
    .wrapper{
        
        .content{
            width: 70%;
            margin: 10px auto;
            @media screen and (max-width : 768px){
                width: 90%;
            }
            @media screen and (max-width : 480px){
                width: 100%;
            }
            h3{
                font-size: 38px;
                font-weight: 700;
                width: 450px;
                margin: 10px auto;
                @media screen and (max-width : 768px){
                    font-size: 1.8rem;
                    width: 90%;
                }
            }
            p{
                margin: 20px auto;
                font-size: 15px;
            }
            button{
                border: none;
                padding: 10px 20px;
                color: white;
                font-size: 14px;
            }
            .images{
                .img1{
                    position: absolute;
                    top: -10px;
                    left: 15%;
                    width: 30px;
                }
                .img2{
                    position: absolute;
                    top: 30px;
                    right: 20%;
                    width: 30px;
                }
                .img3{
                    position: absolute;
                    top: 70%;
                    left: 20%;
                    width: 30px;
                }
                .img4{
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    width: 30px;
                }
                .img5{
                    position: absolute;
                    bottom: 30%;
                    right: 15%;
                    width: 30px;
                    @media screen and (max-width : 768px){
                        display: none;
                    }
                }
            }
        }
    }
}
