.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    ul{
        list-style: none;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index:  10;
        position: relative;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        a{
            img{
                width: 50px;
                height: 40px;
            }
        }
        button{
            width: 120px;
            padding: 7px;
            font-weight: 500;
            background: none;
            @media only screen and (max-width: 590px){
                width: 80px;
            }
        }
    }
    .hamburger{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        .secondarycolorwrapper{
            background-color: black;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        .menuLayer{
            background-color: #c4113b;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            .wrapper{
                position: relative;
                .content{
                    position: relative;
                    top: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media screen and (max-width: 768px){
                        display: block; 
                        text-align: center;                       
                    };
                    span{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        overflow: hidden;
                        text-align: left;
                        @media screen and (max-width: 768px){
                            text-align: center;                     
                        };
                        a{
                            font-size: 3.6rem;
                            font-weight: 800;
                            color: white;
                            text-decoration: none;
                            @media screen and (max-width: 768px){
                                font-size: 2.8rem;                        
                            };
                            &:hover{
                                color: black;
                            }
                        }
                    }
                    
                    .promise{
                        width: 300px;
                        color: white;
                        @media screen and (max-width: 768px){
                            display: none;                        
                        };
                        h4{
                            text-align: left;
                            font-size: 28px;
                            font-weight: bold;
                            margin-bottom: 20px;
                        }
                        p{
                            font-size: 18px;
                            text-align: justify;
                            line-height: 1.5;
                            font-weight: 700;
                        }

                    }
                }
            }
            .social{
                position: absolute;
                bottom: -150px;
                left: 0;
                right: 0;
                @media screen and (max-width: 768px){
                    bottom: -280px; 
                }
                ul{
                    display: flex;
                    padding-left: 0;
                    @media screen and (max-width: 768px){
                        justify-content: center;                     
                    };
                }
                li{
                    color: white;
                    font-size: 14px;
                    margin-right: 20px;
                    @media screen and (max-width: 480px){
                        margin-right: 10px;  
                        font-size: 13px;                     
                    };
                    &:hover{
                        background: rgba(0, 0, 0, 0.6);
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all .3s;
                    }
                    a{
                        color : white;
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
    // 
    // // overflow: hidden;
    // .navbar{
    //     button{
    //         @media screen and (max-width : 992px) {
    //             background: transparent!important;
    //         }
    //         outline: none!important;
    //         border: none;
    //         box-shadow: none;
    //         &:focus{
    //             outline: none!important;
    //             border: none!important;
    //         }
    //     }
    //     .navbar-brand{
    //         padding-top: 0px;
    //     }
    //     .custom-toggler{
    //         .navbar-toggler-icon {
    //             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='pink' stroke-width='2' stroke-linecap='round' stroke-miterlimit='15' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    //         }
    //         outline: none!important;
    //             border: none;
    //             &:focus{
    //                 outline: none!important;
    //                 border: none!important;
    //             }
    //     }
    //     .navbar-collapse{
    //         margin-left: 20px;
    //         @media screen and (max-width:920px){
    //             height : 100vh;
    //         }
    //         .navbar-nav{
    //             text-align: left;
    //             @media screen and (max-width:920px){
    //                 margin-top: 20vh;
    //             }
    //             .nav-item{
    //                 margin-right: 15px!important;
    //                 a{
    //                     font-weight: 500;
    //                     color: #333333;
    //                     font-size: 15px; 
    //                     @media screen and (max-width:920px){
    //                         font-size: 28px; 
    //                     }                  
                                             
    //                 }
    //             }
    //         }
    //     }
    // }
    // .d-flex{
    //     .nav-item{
    //         a{
    //             color: #EE315D!important;
    //             &.start-btn{
    //                 border: none;
    //                 padding: 10px 20px;
    //                 color: white!important;
    //                 text-decoration: none;
    //                 background: #EE315D;
    //                 margin-top: 15px;
    //             }
    //         }
    //     }
    // }
}