.smm{
    .lower_btn{
        display: none;
    }
    .social-media-wrapper{
        background: white;
        padding-bottom: 5rem;
        .row{
            padding-left: 7%;
            padding-top: 50px;
            @media only screen and (max-width : 580px){
                padding-left: 0;
            }
            .col-lg-6{
                @media only screen and (max-width : 580px){
                    padding: 20px;
                }
            }
            .form-group{
                margin-bottom: 2rem;
                h5{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: left;
                }
                input{
                    width: 100%;
                    padding: 8px 10px;
                    border:  1px solid rgb(207, 205, 205);
                    font-size : 13px;
                }
            }
        }
        button{
            padding: 8px 10px;
            border-radius: 5px;
        }
    }
}