.footer{
    background: #484848;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    .content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media screen and (max-width : 992px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width : 562px){
            grid-template-columns: repeat(1, 1fr);
        }
        
        .about_{
            h4{
                font-size: 20px;
            }
            p{
                font-size: 14px;
                width: 150px;
            }
            .social{
                img{
                    margin-right: 10px;
                }
            }
        }
        .item{
            display: block;
            @media screen and (max-width : 562px){
                margin-top: 20px;
            }
            h4{
                font-size: 18px;
            }
            span{
                display: block;
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: 300;
                    font-size: 14px;
                }
            }
            form{
                input{
                    font-size: 14px;
                    border: 1px solid gray;
                    padding: 10px;
                    background: transparent;
                    width: 100%;
                    margin-bottom: 20px;
                }
                button{
                    padding: 7px 20px;
                    border: none;
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}