.reset_pass{
    padding-top: 100px;
    .col-md-4{
        box-shadow: 0px 0px 2px 0px grey;
        padding: 30px;
        margin-bottom: 3rem;
        border-radius: 5px;
        @media screen and (max-width : 992px){
            width: 45%;
            margin-left: auto;
            margin-right: auto;
        }   
        @media screen and (max-width : 768px){
            width: 65%;
            margin-left: auto;
            margin-right: auto;
        }   
        @media screen and (max-width : 480px){
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        img{
            margin-bottom: 20px;
        }
        button{
            padding: 8px;
            width: 100%;
            margin-bottom: 1.5rem;
            margin-top: 1rem;
            border-radius: 5px;
        }
    }
    h3{
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    p{
        font-size: 13px;
    }
    
    .form-group{
        text-align: left;
        label{
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 500;
        }
        input{
            width: 100%;
            height: 40px;
            border: 1px solid #c4c4c4;
            margin-bottom: 20px;
            padding: 8px;
            font-size: 13px;
            // border-radius: 5px;
            @media only screen and (max-width : 768px){
                width: 100%;
            }
        }
    }
   
}