.dashboard{
    .dashboard-main-wrapper{
        .dashboard-main{
            .mt--3{
                @media screen and (max-width: 768px) {
                    margin-top: 3rem!important;
                }
            }
            .ads-wrapper{
                background: white;
                padding-bottom: 3rem;
                margin-top: 3rem;
                .ads-heading{
                    text-align: left;
                    border-bottom: 1px solid #e1e1e1;
                    h4{
                        font-size: 20px;
                        color: #333333;
                        padding: 15px 25px 5px 25px;
                    }
                }
                .text-linkedin{
                    font-size: 21px;
                    margin-left: 20px;
                    margin-top: 3rem;
                }
                .history-wrapper{
                    display: block;
                    padding: 10px 20px; 
                    .text-right{
                        text-align: right;
                        @media only screen and (max-width : 768px){
                            text-align: left;
                        }
                        .hide-btn{
                            @media only screen and (max-width : 768px){
                                display: none;
                            }   
                        }
                        button{
                            background: none;
                            color: #808080;
                            font-size: 14px;
                            border: 1px solid #e1e1e1;
                            padding: 6px 15px;
                            text-align: right;
                            margin-left: 10px;
                            @media only screen and (max-width : 768px){
                                margin-left: 0;
                                margin-right: 10px;
                            }
                            a{
                                color: #808080;
                                text-decoration: none;
                            }
                        }
                        .export_btn{
                            background: #EE315D;
                            color: white;
                            border: none;
                        }
                    }
                    .text-left{
                        text-align: left;
                        input{
                            border: 1px solid #e1e1e1;
                            font-size: 14px;
                            padding: 8px 10px;
                            width: 400px;
                            outline: none;
                            @media only screen and (max-width : 1200px){
                                width: 50%;
                            }
                            @media only screen and (max-width : 680px){
                                margin-top: 20px;
                                width: 100%;
                            }
                        }
                    }
                }
                .social{
                    @media only screen and (max-width : 480px){
                        margin-top: 0rem!important;
                    }
                }
                .export{
                    @media only screen and (max-width : 992px){
                        width: 33%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    @media only screen and (max-width : 480px){
                        width: 80%;
                    }
                }
                .history-table{
                    margin-top: 2rem;
                    @media only screen and (max-width: 480px){
                        max-width: 420px;
                        width: 100%;
                        overflow-x: scroll;
                        box-sizing: border-box;
                    }
                    @media only screen and (max-width: 380px){
                        max-width: 300px;
                        width: 100%;
                        overflow-x: scroll;
                        box-sizing: border-box;
                    }
                    table{
                        @media only screen and (max-width: 960px){
                            max-width: 300px;
                            width: 100%;
                            box-sizing: content-box;
                        }
                        thead{
                            tr{
                                th{
                                    border-bottom-width: 0;
                                    border-bottom: none!important;
                                    font-size: 14px;
                                    font-weight: 400;
                                    text-align: left;
                                }
                            }
                        }
                        tbody{
                            td{
                                font-size: 14px;
                                text-align: left;
                                @media screen and (max-width : 678px){
                                    font-size: 12px;
                                }
                            }
                            .invoice{
                                color:#35469C;
                                text-decoration: underline;
                                font-size: 13px;
                            }
                            p{
                                color: #35469C;
                                text-decoration: underline;
                                font-size: 12px;
                                cursor: pointer;
                            }
                        }   
                    }
                }
                .user-detail{
                    padding: 15px 25px;
                    display: flex;
                    margin-bottom: 6rem;
                    .profile-img{
                       margin-right: 10%;
                        img{
                            width: 120px;
                            height: 120px;
                            background: #e5e5e5;
                            padding: 20px;
                            border-radius: 50%;
                        }
                    }
                    .row{
                        width: 100%;
                        text-align: left;
                        .col-md-5{
                            .form-group{
                                label{
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                                input{
                                    width: 100%;
                                    padding: 7px 10px;
                                    font-size: 14px;
                                    margin-bottom: 1.5rem;
                                    border: 1px solid #e5e5e5;
                                }
                                
                            }
                            p{
                                font-size: 14px;
                            }
                            a{
                                font-size: 14px;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .support{
                    padding: 30px 25px;
                    text-align: left;
                    h3{
                        font-size: 20px;
                        color: #484848;
                    }
                    p{
                        font-size: 14px;
                        color: #808080;
                    }
                    form{
                        margin-top: 1rem;
                        .form-group{
                            label{
                                font-size: 14px;
                                font-weight: 400;
                            }
                            input{
                                width: 100%;
                                padding: 7px 10px;
                                font-size: 14px;
                                margin-bottom: 1.5rem;
                                border: 1px solid #e5e5e5;
                            }
                            select{
                                width: 100%;
                                padding: 7px 10px;
                                font-size: 14px;
                                margin-bottom: 1.5rem;
                                border: 1px solid #e5e5e5;
                                outline: none;
                            }
                            textarea{
                                width: 100%;
                                padding: 7px 10px;
                                font-size: 14px;
                                margin-bottom: 1.5rem;
                                border: 1px solid #e5e5e5;
                            }
                        }
                        button{
                            padding: 7px 30px;
                            color: white;
                            border: none;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
