.preview{
    h4{
        font-size: 20px!important;
    }
    .table{
        thead{
            th{
                font-size: 14px;
                font-weight: 500;
            }
        }
        tbody{
            td{
                font-size: 13px;
            }
        }
    }
    .all-ads{
        padding: 20px;
        // padding-bottom: 2rem;
        // margin-bottom: 6rem;
    }
}