@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
$color : #35469C;

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  button{
    background: $color;
    border: none;
    font-size: 14px;
    color: white;
  }
  input{
    outline: none;
  }
  ::placeholder{
    color: #a09f9f;
  }
}

