.admin{
    padding-bottom: 7rem;
    .main-heading{
        input{
            border: 1px solid #D6D6D6;
            font-size: 13px;
            padding: 10px 30px;
            background: transparent;
            outline: none;
        }
    }
    .quick-stat{
        margin-top: 2rem;
        margin-bottom: 1rem;
        h6{
            font-size: 14px;
            text-align: left;
        }
        a{
            text-decoration: none;
        }
        .content{
            border: none;
            background: white;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 15px;
            .left-content{
                display: flex;
                align-items: center;
                text-align: left;
                img{
                    width: 40px;
                    margin-right: 10px;
                }
                .content-text{
                    p{
                        color : #808080;
                        font-size: 13px;
                    }
                    h5{
                        font-size: 16px;
                        font-family: 500;
                        color: #484848;
                    }
                }
            }
            p{
               color: #2D356B;
               font-size: 22px;
            }
        }
    }
    .overall-info{
        margin-bottom: 10rem;
        .marketers{
            background: white;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            padding: 14px 20px;
            .marketers-heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h5{
                    font-size: 16px;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .assigned{
                text-align: left;
                width: 100%;
                margin-bottom: 1rem;
            }
            a{
                text-decoration: none;
                margin-top: 3rem;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .col-7{
            padding-left: 0;
        }
        .tickets{
            background: white;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            padding: 14px 20px;
            .ticket-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #D6D6D6;
                padding-bottom: 10px;
                h5{
                    font-size: 16px;
                    font-weight: 500;
                    color: #484848;
                }
                button{
                    padding: 6px 10px;
                    margin-left: 10px;
                    background: none;
                    border: 1px solid #D6D6D6;
                    color: #808080;
                    font-size: 13px;
                }
            }
            .history-table{
                // .admin-view{
                //     text-align: center;
                // }
                thead{
                    text-align: left;
                    
                    th{
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                tbody{
                    tr{
                        td{
                            font-size: 13px;
                            min-width: 100px;
                        }
                        .text-left{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    
}